# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
API_KEY_ALPHAVANTAGE=Eyour_api_key_here  #Ключ для  Alpha Vantage https://www.alphavantage.co/support/#api-key